---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:400,500,700,900&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

body {
  color: #333;
  background-image: url(../../images/spaceStation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h1 {
  font-family: "Press Start 2P";
}

section h1 {
  font-size: 4rem;
  color: rgba(249, 9, 9, 0.74);
  text-shadow: 5px 5px 2px rgba(14, 241, 247, 0.67);
}

section h2 {
  font-size: 2rem;
  color: #666;
}

section h3 {
  font-size: 4rem;
  font-family: "Press Start 2P";
  color: rgba(47, 173, 187,0.8);
  text-align: center;
  margin-top: 2rem;
}

a, a small {
  font-weight: 600;
}

a:hover, a small:hover {
  font-weight: 600;
}

.backdrop {
    position: fixed;
    font-family: "Press Start 2P";
    color: rgba(251, 182, 193,0.1);
    font-size: 15vw;
    z-index: -1;
    text-shadow: 2vw 2vw 3px rgba(0,0,0,0.05);
    transform: rotate(-2deg);
    text-align: center;
    width: 100%;
}

ion-icon {
  position: absolute;
  margin-left: 0;
  display: none;
}
